@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Bros and Sis let's learn about MultiCloud, click on the hyper link (blue letters for more info)   <a href="https://techadvisorsbluezone.com"> the informataion there wil help you building high quality solutions in any of the mayor cloud providers </a>.</p>
</div>
