@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about MultiCloud <a href="https://techadvisorsbluezone.com">building high quality solutions in any of the mayor cloud providers e</a>.</p>
</div>
